<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-wrap">
          <h1>Log in with your email account</h1>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:id => 'login-form'}) do |f| %>
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email",:id => 'email',:class =>'form-control' %>
            </div>

            <div class="form-group">
              <label for="key" class="sr-only">Password</label>
              <%= f.password_field :password, autocomplete: "off",:id => 'key',:class =>'form-control' %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="checkbox">
                <%= f.check_box :remember_me ,:class => "character-checkbox"%>
                <span class="label">Remember me</span>
              </div>
            <% end -%>

            <div class="checkbox">
              <span class="character-checkbox" onclick="showPassword()"></span>
              <span class="label">Show password</span>
            </div>
            <div class="actions">
              <%= f.submit "Log in",:id =>'btn-login', :class => "btn btn-custom btn-lg btn-block"%>
            </div>
          <% end %>
            <%= render "devise/shared/links" %>

        </div>
      </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>




<script !src="">

</script>